{% extends 'base.html' %}
{% block body %}
    <h1>Контакты</h1>
    <h3>GET запрос</h3>
    <form method="get">
        <input type="email" name="email" placeholder="email"><br>
        <input type="text" name="theme" placeholder="Тема сообщение"><br>
        <input type="text" name="message" placeholder="Сообщение"><br>
        <input type="submit"><br>
        <input type="reset">
    </form>
    <h3>POST запрос</h3>
    <form method="post">
        <input type="email" name="email" placeholder="email"><br>
        <input type="text" name="theme" placeholder="Тема сообщение"><br>
        <input type="text" name="message" placeholder="Сообщение"><br>
        <input type="submit"><br>
        <input type="reset">
    </form>
{% endblock %}