{% extends 'base.html' %}
{% block body %}
    <h1>Главная</h1>
    <h2>Курсы</h2>
    {% if categories %}
        {% for category in categories %}
            <h4>{{ category }}</h4>
            <ul>
                {% for course in courses if course.category_id == category.id %}
                    <li><a href="/">{{ course }}</a>
                        <a href="copy_course?name_copy={{ course.id }}" >(скопировать)</a>
                        <a href="edit_course?course_id={{ course.id }}" >(изменить)</a></li>
                    </li>
                {% else %}
                    <li>Курсы в данной категории отсутствуют</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <p>На данный момент курсы отсутствуют</p>
    {% endif %}

{% endblock %}