{% extends 'base.html' %}
{% block body %}
    <h1>Создание нового курса</h1>
    <form method="post">
        <select name="category" required>
            <option disabled>Категория</option>
            {% for category in site.categories %}
                <option {% if category == category_copy %}selected{% endif %}>{{ category }}</option>
            {% endfor %}
        </select><br>
        <input type="text" value="{{ name_copy }}" name="course_name" placeholder="Название курса" required><br>
        <input type="submit" value="Создать">
    </form>

{% endblock %}